@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 256 100% 96%;
        --primary: 270 100% 52%;
        --accent: 270 60% 86%;
        --accent-foreground: 270 100% 20%;
        --muted: 256 60% 94%;
        --muted-foreground: 256 50% 50%;
        --foreground: 256 60% 26%;
        --secondary: 270 60% 90%;
        --secondary-foreground: 256 60% 10%;
        --card: 256 60% 92%;
        --card-foreground: 256 100% 20%;
        --popover-foreground: 256 100% 20%;
        --popover: 256 60% 96%;
        --primary-foreground: 256 100% 96%;
        --ring: 270 100% 52%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 270 40% 80%;
        --input: 270 40% 80%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 256 60% 6%;
        --primary: 270 100% 86%;
        --accent: 256 60% 26%;
        --accent-foreground: 270 100% 86%;
        --muted: 256 60% 10%;
        --foreground: 256 60% 90%;
        --muted-foreground: 256 50% 75%;
        --secondary: 270 100% 20%;
        --secondary-foreground: 256 60% 90%;
        --card: 256 60% 10%;
        --card-foreground: 256 60% 90%;
        --popover-foreground: 256 60% 90%;
        --popover: 256 60% 6%;
        --primary-foreground: 256 60% 6%;
        --ring: 270 100% 86%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 270 100% 20%;
        --input: 270 100% 20%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
    .catppuccin-mocha {
        --background: 240 21.053% 14.902%;
        --foreground: 226.154 63.934% 88.039%;
        --muted: 236.842 16.239% 22.941%;
        --muted-foreground: 226.667 35.294% 80%;
        --popover: 240 21.053% 14.902%;
        --popover-foreground: 226.154 63.934% 88.039%;
        --card: 240 21.053% 14.902%;
        --card-foreground: 226.154 63.934% 88.039%;
        --border: 234.286 13.208% 31.176%;
        --input: 234.286 13.208% 31.176%;
        --primary: 267.407 83.505% 80.98%; /* mauve */
        --primary-foreground: 240 21.053% 14.902%;
        --secondary: 236.842 16.239% 22.941%;
        --secondary-foreground: 226.154 63.934% 88.039%;
        --accent: 236.842 16.239% 22.941%;
        --accent-foreground: 226.154 63.934% 88.039%;
        --destructive: 343.269 81.25% 74.902%;
        --destructive-foreground: 240 21.311% 11.961%;
        --ring: 226.154 63.934% 88.039%;
        --radius: 0.5rem;
        --chart-1: 343.269 81.25% 74.902%;
        --chart-2: 170 57.353% 73.333%;
        --chart-3: 217.168 91.87% 75.882%;
        --chart-4: 41.351 86.047% 83.137%;
        --chart-5: 115.455 54.098% 76.078%;
    }
    .catppuccin-macchiato {
        --background: 231.818 23.404% 18.431%;
        --foreground: 227.442 68.254% 87.647%;
        --muted: 230.4 18.797% 26.078%;
        --muted-foreground: 228 39.216% 80%;
        --popover: 231.818 23.404% 18.431%;
        --popover-foreground: 227.442 68.254% 87.647%;
        --card: 231.818 23.404% 18.431%;
        --card-foreground: 227.442 68.254% 87.647%;
        --border: 231.111 15.607% 33.922%;
        --input: 231.111 15.607% 33.922%;
        --primary: 266.512 82.692% 79.608%; /* mauve */
        --primary-foreground: 231.818 23.404% 18.431%;
        --secondary: 230.4 18.797% 26.078%;
        --secondary-foreground: 227.442 68.254% 87.647%;
        --accent: 230.4 18.797% 26.078%;
        --accent-foreground: 227.442 68.254% 87.647%;
        --destructive: 351.176 73.913% 72.941%;
        --destructive-foreground: 233.333 23.077% 15.294%;
        --ring: 227.442 68.254% 87.647%;
        --radius: 0.5rem;
        --chart-1: 351.176 73.913% 72.941%;
        --chart-2: 171.081 46.835% 69.02%;
        --chart-3: 220.189 82.813% 74.902%;
        --chart-4: 40.253 69.912% 77.843%;
        --chart-5: 105.217 48.252% 71.961%;
    }
    .catppuccin-frappe {
        --background: 229.091 18.644% 23.137%;
        --foreground: 227.234 70.149% 86.863%;
        --muted: 230 15.584% 30.196%;
        --muted-foreground: 226.667 43.689% 79.804%;
        --popover: 229.091 18.644% 23.137%;
        --popover-foreground: 227.234 70.149% 86.863%;
        --card: 229.091 18.644% 23.137%;
        --card-foreground: 227.234 70.149% 86.863%;
        --border: 227.143 14.737% 37.255%;
        --input: 227.143 14.737% 37.255%;
        --primary: 276.667 59.016% 76.078%;
        --primary-foreground: 229.091 18.644% 23.137%;
        --secondary: 230 15.584% 30.196%;
        --secondary-foreground: 227.234 70.149% 86.863%;
        --accent: 230 15.584% 30.196%;
        --accent-foreground: 227.234 70.149% 86.863%;
        --destructive: 358.812 67.785% 70.784%;
        --destructive-foreground: 230.526 18.812% 19.804%;
        --ring: 227.234 70.149% 86.863%;
        --radius: 0.5rem;
        --chart-1: 358.812 67.785% 70.784%;
        --chart-2: 171.549 39.227% 64.51%;
        --chart-3: 221.633 74.242% 74.118%;
        --chart-4: 39.529 62.044% 73.137%;
        --chart-5: 95.833 43.902% 67.843%;
    }
    .catppuccin-latte {
        --background: 220 23.077% 94.902%;
        --foreground: 233.793 16.022% 35.49%;
        --muted: 222.857 15.909% 82.745%;
        --muted-foreground: 233.333 12.796% 41.373%;
        --popover: 220 23.077% 94.902%;
        --popover-foreground: 233.793 16.022% 35.49%;
        --card: 220 23.077% 94.902%;
        --card-foreground: 233.793 16.022% 35.49%;
        --border: 225 13.559% 76.863%;
        --input: 225 13.559% 76.863%;
        --primary: 266.044 85.047% 58.039%; /* mauve */
        --primary-foreground: 220 23.077% 94.902%;
        --secondary: 222.857 15.909% 82.745%;
        --secondary-foreground: 233.793 16.022% 35.49%;
        --accent: 222.857 15.909% 82.745%;
        --accent-foreground: 233.793 16.022% 35.49%;
        --destructive: 347.077 86.667% 44.118%;
        --destructive-foreground: 220 21.951% 91.961%;
        --ring: 233.793 16.022% 35.49%;
        --radius: 0.5rem;
        --chart-1: 347.077 86.667% 44.118%;
        --chart-2: 183.231 73.864% 34.51%;
        --chart-3: 219.907 91.489% 53.922%;
        --chart-4: 34.948 76.984% 49.412%;
        --chart-5: 109.231 57.635% 39.804%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
