@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 256 100% 96%;
        --primary: 270 100% 52%;
        --accent: 270 60% 86%;
        --accent-foreground: 270 100% 20%;
        --muted: 256 60% 94%;
        --muted-foreground: 256 50% 50%;
        --foreground: 256 60% 26%;
        --secondary: 270 60% 90%;
        --secondary-foreground: 256 60% 10%;
        --card: 256 60% 92%;
        --card-foreground: 256 100% 20%;
        --popover-foreground: 256 100% 20%;
        --popover: 256 60% 96%;
        --primary-foreground: 270 100% 20%;
        --ring: 270 100% 52%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 270 40% 80%;
        --input: 214.3 31.8% 91.4%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 256 60% 6%;
        --primary: 270 100% 86%;
        --accent: 256 60% 26%;
        --accent-foreground: 270 100% 86%;
        --muted: 256 60% 10%;
        --foreground: 256 60% 90%;
        --muted-foreground: 256 50% 75%;
        --secondary: 270 100% 20%;
        --secondary-foreground: 256 60% 90%;
        --card: 256 60% 10%;
        --card-foreground: 256 60% 90%;
        --popover-foreground: 256 60% 90%;
        --popover: 256 60% 6%;
        --primary-foreground: 256 60% 6%;
        --ring: 270 100% 86%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
    .catppuccin-mocha {
        --background: 240 0.21052631735801697% 0.14901961386203766%;
        --foreground: 226 0.6393442749977112% 0.8803921341896057%;
        --muted: 237 0.16239316761493683% 0.2294117659330368%;
        --muted-foreground: 227 0.3529411852359772% 0.800000011920929%;
        --popover: 240 0.21052631735801697% 0.14901961386203766%;
        --popover-foreground: 226 0.6393442749977112% 0.8803921341896057%;
        --card: 240 0.21052631735801697% 0.14901961386203766%;
        --card-foreground: 226 0.6393442749977112% 0.8803921341896057%;
        --border: 234 0.1320754736661911% 0.3117647171020508%;
        --input: 234 0.1320754736661911% 0.3117647171020508%;
        --primary: 267 0.8350515365600586% 0.8098039031028748%;
        --primary-foreground: 240 0.21052631735801697% 0.14901961386203766%;
        --secondary: 237 0.16239316761493683% 0.2294117659330368%;
        --secondary-foreground: 226 0.6393442749977112% 0.8803921341896057%;
        --accent: 237 0.16239316761493683% 0.2294117659330368%;
        --accent-foreground: 226 0.6393442749977112% 0.8803921341896057%;
        --destructive: 343 0.8125% 0.7490196228027344%;
        --destructive-foreground: 240 0.21311475336551666% 0.1196078434586525%;
        --ring: 226 0.6393442749977112% 0.8803921341896057%;
        --radius: 0.5rem;
        --chart-1: 343 0.8125% 0.7490196228027344%;
        --chart-2: 170 0.5735294222831726% 0.7333333492279053%;
        --chart-3: 217 0.9186992049217224% 0.7588235139846802%;
        --chart-4: 41 0.8604651093482971% 0.8313725590705872%;
        --chart-5: 115 0.5409836173057556% 0.7607843279838562%;
    }
    .catppuccin-macchiato {
        --background: 232 0.23404255509376526% 0.18431372940540314%;
        --foreground: 227 0.682539701461792% 0.8764705657958984%;
        --muted: 230 0.18796992301940918% 0.2607843279838562%;
        --muted-foreground: 228 0.3921568691730499% 0.800000011920929%;
        --popover: 232 0.23404255509376526% 0.18431372940540314%;
        --popover-foreground: 227 0.682539701461792% 0.8764705657958984%;
        --card: 232 0.23404255509376526% 0.18431372940540314%;
        --card-foreground: 227 0.682539701461792% 0.8764705657958984%;
        --border: 231 0.15606936812400818% 0.3392156958580017%;
        --input: 231 0.15606936812400818% 0.3392156958580017%;
        --primary: 267 0.8269230723381042% 0.7960784435272217%;
        --primary-foreground: 232 0.23404255509376526% 0.18431372940540314%;
        --secondary: 230 0.18796992301940918% 0.2607843279838562%;
        --secondary-foreground: 227 0.682539701461792% 0.8764705657958984%;
        --accent: 230 0.18796992301940918% 0.2607843279838562%;
        --accent-foreground: 227 0.682539701461792% 0.8764705657958984%;
        --destructive: 351 0.739130437374115% 0.729411780834198%;
        --destructive-foreground: 233 0.23076923191547394% 0.15294118225574493%;
        --ring: 227 0.682539701461792% 0.8764705657958984%;
        --radius: 0.5rem;
        --chart-1: 351 0.739130437374115% 0.729411780834198%;
        --chart-2: 171 0.4683544337749481% 0.6901960968971252%;
        --chart-3: 220 0.828125% 0.7490196228027344%;
        --chart-4: 40 0.6991150379180908% 0.7784313559532166%;
        --chart-5: 105 0.4825174808502197% 0.7196078300476074%;
    }
    .catppuccin-frappe {
        --background: 229 0.18644067645072937% 0.23137255012989044%;
        --foreground: 227 0.7014925479888916% 0.8686274290084839%;
        --muted: 230 0.15584415197372437% 0.3019607961177826%;
        --muted-foreground: 227 0.43689319491386414% 0.7980391979217529%;
        --popover: 229 0.18644067645072937% 0.23137255012989044%;
        --popover-foreground: 227 0.7014925479888916% 0.8686274290084839%;
        --card: 229 0.18644067645072937% 0.23137255012989044%;
        --card-foreground: 227 0.7014925479888916% 0.8686274290084839%;
        --border: 227 0.1473684161901474% 0.37254902720451355%;
        --input: 227 0.1473684161901474% 0.37254902720451355%;
        --primary: 277 0.5901639461517334% 0.7607843279838562%;
        --primary-foreground: 229 0.18644067645072937% 0.23137255012989044%;
        --secondary: 230 0.15584415197372437% 0.3019607961177826%;
        --secondary-foreground: 227 0.7014925479888916% 0.8686274290084839%;
        --accent: 230 0.15584415197372437% 0.3019607961177826%;
        --accent-foreground: 227 0.7014925479888916% 0.8686274290084839%;
        --destructive: 359 0.6778523325920105% 0.7078431248664856%;
        --destructive-foreground: 231 0.1881188154220581% 0.1980392187833786%;
        --ring: 227 0.7014925479888916% 0.8686274290084839%;
        --radius: 0.5rem;
        --chart-1: 359 0.6778523325920105% 0.7078431248664856%;
        --chart-2: 172 0.3922652006149292% 0.6450980305671692%;
        --chart-3: 222 0.7424242496490479% 0.7411764860153198%;
        --chart-4: 40 0.6204379796981812% 0.7313725352287292%;
        --chart-5: 96 0.4390243887901306% 0.6784313917160034%;
    }
    .catppuccin-latte {
        --background: 220 0.23076923191547394% 0.9490196108818054%;
        --foreground: 234 0.16022099554538727% 0.3549019694328308%;
        --muted: 223 0.15909090638160706% 0.8274509906768799%;
        --muted-foreground: 233 0.12796208262443542% 0.41372549533843994%;
        --popover: 220 0.23076923191547394% 0.9490196108818054%;
        --popover-foreground: 234 0.16022099554538727% 0.3549019694328308%;
        --card: 220 0.23076923191547394% 0.9490196108818054%;
        --card-foreground: 234 0.16022099554538727% 0.3549019694328308%;
        --border: 225 0.1355932205915451% 0.7686274647712708%;
        --input: 225 0.1355932205915451% 0.7686274647712708%;
        --primary: 266 0.8504672646522522% 0.5803921818733215%;
        --primary-foreground: 220 0.23076923191547394% 0.9490196108818054%;
        --secondary: 223 0.15909090638160706% 0.8274509906768799%;
        --secondary-foreground: 234 0.16022099554538727% 0.3549019694328308%;
        --accent: 223 0.15909090638160706% 0.8274509906768799%;
        --accent-foreground: 234 0.16022099554538727% 0.3549019694328308%;
        --destructive: 347 0.8666666746139526% 0.44117647409439087%;
        --destructive-foreground: 220 0.2195121943950653% 0.9196078181266785%;
        --ring: 234 0.16022099554538727% 0.3549019694328308%;
        --radius: 0.5rem;
        --chart-1: 347 0.8666666746139526% 0.44117647409439087%;
        --chart-2: 183 0.7386363744735718% 0.3450980484485626%;
        --chart-3: 220 0.914893627166748% 0.5392156839370728%;
        --chart-4: 35 0.7698412537574768% 0.4941176474094391%;
        --chart-5: 109 0.5763546824455261% 0.39803922176361084%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
